spring-source/src/test/resources/META-INF/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.lexueba.com/schema/user"
            elementFormDefault="qualified">

    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="string"/>
            <xsd:attribute name="userName" type="string"/>
            <xsd:attribute name="email" type="string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>